/* SMALL MOBILE */
/* up to 656px Viewports */
@media (min-width: 0) and (max-width: 656px) {
    body {
        font-size: 18px
    }

    h5 {
        font-size: 22px
    }

    .container {
        width: 640px
    }

    footer .container {
        font-size: 12px;
        padding: 50px 40px 30px
    }

    #mosaic figure .center {
        vertical-align: bottom;
        text-align: left
    }

    #offices .container {
        padding: 0
    }
    #offices li {
        float: left
    }
    #offices a {
        font-size: 64px;
        width: 320px;
        height: 320px;
        padding-top: 106px
    }
    #offices a .time {
        font-size: 24px
    }

    .carousel {
        padding-top: 40px
    }
    .carousel nav {
        padding: 26px
    }
    .carousel nav span {
        width: 24px;
        height: 24px;
        margin: 0 6px
    }
    .carousel nav span:after {
        width: 20px;
        height: 20px
    }
    .carousel .next,
    .carousel .prev {
        display: none
    }
    .carousel+.caption {
        padding: 0 40px
    }

    .homepage #projects .slide {
        background-size: 200% auto
    }
    .homepage #projects .slide .copy {
        bottom: 0;
        padding: 0 10px
    }
    .homepage #projects.landscape {
        height: 360px
    }
    .homepage #projects.landscape .copy h2 {
        font-size: 32px;
        line-height: 30px
    }
    .homepage #projects.landscape .copy p {
        font-size: 10px
    }
}

/* STANDARD MOBILE */
/* Between 657px and 977px Viewports */
@media (min-width: 657px) and (max-width: 977px) {
    #offices .container {
        border: 0;
        width: 636px;
        text-align: center
    }

    .container {
        width: 640px
    }

    footer {
        font-size: 10px
    }

    #mosaic .tile.quote {
        font: 28px "Galaxie"
    }

    .homepage #projects .slide {
        background-size: auto 80%
    }
    .homepage #projects .slide .copy {
        bottom: 20px
    }
    .homepage #projects button {
        display: none
    }
    .homepage #projects .container {
        padding: 0 96px
    }
    .homepage #offices {
        background: #fff
    }
    .homepage #offices .container {
        border: 0
    }
}

/* LARGE MOBILE-TABLET-LAPTOP */
/* between 977px and 1296px Viewports */
@media (min-width: 977px) and (max-width: 1296px) {
    #offices .container {
        width: 952px;
        text-align: center
    }
    .container {
        width: 960px
    }
    #offices .container {
        text-align: center
    }
    .homepage #projects .slide {
        background-size: auto 78%
    }
    .homepage #projects .slide .copy {
        bottom: 70px
    }
    .homepage #projects button {
        display: block
    }
}

/* LAPTOP-DESKTOP */
/* 1297px and larger */
@media (min-width: 1297px) {
    q {
        float: right;
        width: 55%;
        margin-right: -25%
    }

    #offices .container {
        width: 952px;
        text-align: center
    }

    .container {
        width: 1280px
    }

    #mosaic .tile.time .analog.clock {
        margin-top: 92px
    }
}
